* {
    margin: 0;
    padding: 0;
}

html,
body {
    overflow: hidden;
    font-family: "Share Tech Mono", monospace;
    font-weight: 400;
    font-style: normal;
}

.webgl {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

#game-ui {
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    pointer-events: none;

    color: #ffffff;
    font-size: 2.5rem;
    font-weight: bold;
    letter-spacing: 2px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.85);
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
    transition: opacity 0.5s ease-in-out;
}

.overlay.hidden {
    opacity: 0;
    pointer-events: none;
}

#start-button {
    margin-top: 20px;
    padding: 10px 30px;
    font-size: 1.2rem;
    cursor: pointer;
    color: #000000;
    border: none;
    border-radius: 5px;
}

