* {
    margin: 0;
    padding: 0;
}

html,
body {
    overflow: hidden;
    font-family: "Share Tech Mono", monospace;
    font-weight: 400;
    font-style: normal;
}

.webgl {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

#game-ui {
    position: absolute;
    top: 2rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    pointer-events: none;

    color: #ffffff;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(8px);
    border-radius: 50%;
    text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    font-weight: 900;

    font-size: clamp(2.5rem, 3vw, 6rem);
    padding: clamp(10px, 0.5vw, 30px);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.85);
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
    transition: opacity 0.5s ease-in-out;
    font-size: clamp(1rem, 2vw, 1.5rem);

    padding: clamp(1rem, 5vw, 2rem);
    text-align: center;
    box-sizing: border-box;
}

.overlay.hidden {
    opacity: 0;
    pointer-events: none;
}

#start-button {
    margin-top: clamp(15px, 3vh, 30px);
    margin-bottom: clamp(15px, 3vh, 30px);

    padding: clamp(10px, 1vw, 15px) clamp(20px, 2vw, 40px);

    font-size: clamp(1rem, 2vw, 1.5rem);

    cursor: pointer;
    color: #000000;
    border: none;
    border-radius: 25px;
}

.end-credits-screen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #000000;
    color: #ffffff;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    font-size: clamp(1rem, 2vw, 1.5rem);
    padding: clamp(1rem, 5vw, 2rem);
    text-align: center;
    box-sizing: border-box;
}

.end-credits-screen h1 {
    font-size: clamp(2rem, 8vw, 4rem);
    margin-bottom: clamp(1rem, 3vh, 2rem);
    color: #f59714;
}
